.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: none;

  transition: opacity 400ms ease-in;
}

.backdrop-show {
  opacity: 1;
  pointer-events: auto;

  transition: opacity 400ms ease-in;
}

.modal {
  position: fixed;
  z-index: 110;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 930px;
  height: 400px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: none;
}

.modal-error {
  background: var(--red);
  border: 3px solid var(--red);
}

.modal-error .modal-body p {
  color: var(--red);
}

.modal-info {
  background: var(--green);
  border: 3px solid var(--green);
}

.modal-info .modal-body p {
  color: var(--grey);
}

.modal-show {
  display: block !important;
}

.modal-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  margin-top: 5px;
  margin-bottom: 15px;
}

.modal-header h4 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 35px;
  width: 8px;
  border-radius: 3px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.modal-body {
  background: #ffdf59;
  width: 100%;
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

