.fight-name {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

.fight-name h1 {
  color: var(--yellow);
  font-family: "Bangers", cursive;
  font-size: 78px;
  letter-spacing: 4px;
  margin: 0;
  font-weight: 100;
  display: inline-block;
}

.fight-wrapper {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  color: var(--yellow);
  font-family: "Bangers", cursive;
  margin-bottom: 50px;
}

.fight-wrapper__item {
  display: flex;
  flex-direction: column;
  align-items: center
}

.fight-wrapper__item p {
  font-size: 45px;
  margin: 0;
  margin-bottom: 10px;
}

.fight-wrapper__item h2 {
  font-size: 100px;
  margin-top: 100px;
  letter-spacing: 4px;
}

.unknown-image {
  border-radius: 100%;
  border: 4px solid black;
  box-sizing: border-box;
}

.player-waiting {
  width: 40%;
  margin: 0 auto;
  height: 115px;
  background: rgb(153, 240, 181);
  border-radius: 5px;
  color: var(--white);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-waiting span {
  font-family: "Bangers", cursive;
  font-size: 42px;
  letter-spacing: 2px;
}

.fight-rounds {
  color: var(--yellow);
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 28px;
}

.total-winner {
  border: 10px solid var(--green);;
  border-radius: 100%;
}

.draw-game {
  border: 10px solid var(--yellow);;
  border-radius: 100%;
}