:root {
  --yellow: #ffdf59;
  --green: #73ffa0;
  --red: #ff504d;
  --gray: #434343;
  --white: #ffffff;
}

.single-round {
  color: var(--yellow);
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 28px;
}

.round-lost {
  color: rgb(255, 151, 83);
}