:root {
  --yellow: #FFDF59;
  --green: #73FFA0;
  --red: #FF504D;
  --gray: #434343;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: 'Bangers', cursive;
font-family: 'Roboto', sans-serif; */

